<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APISecret</key>
	<string>hichjGoEF7DP8CVsYYoJtcYqMe87tk4mxd76mtMCmwDLaJJoN2</string>
	<key>APIKey</key>
	<string>wXTbj5E3dUnfiHUIToKJ1IR9x</string>
</dict>
</plist>
